body{
  margin: 0;
}
.header{
  /*untuk mengatur warna background, ukuran font, jenis font pada bagian header*/
  padding: 30px;
  background-color: #34CFBE;
  font-size: 30px;
  font-family: sans-serif;
}
.alamat{
  /*untuk mengatur ukuran font pada bagian div class alamat pada header*/
  font-size: 15px;
}
.topnav {
  /*untuk mengatur ukuran font, warna background, overflow : untuk menyembunyikan, menampakkan, atau membuat scroll*/
  font-size: 15px;
  background-color: #009E8E;
  overflow: hidden; 
  list-style:none;
  text-align:center;
  /*untuk atur tengah text*/
}
.topnav li{
    display:inline;
    /*agar semua konten html kesamping*/
}
.topnav a {
  display:inline-block;
  color: white;
  /*mewarnai tulisan topnav white */ 
  padding: 16px 5px;
  text-decoration: none;
  font-size: 25px;
  /*mengatur ukuran font*/
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  /*mewarnai topnav kalo dipencet*/
}
.topnav a.active {
  color: white;
}
.isi{
  /*untuk pengaturan bagian isi*/
  overflow: hidden; 
  /* untuk menyembunyikan, menampakkan, atau membuat scroll*/
  height: 390px;
  /*untuk menentukan tinggi tabel.*/
  width: 100%;
  /*untuk menentukan lebar tabel*/
  position: relative;
  padding: 10px;
}
.tabel{
  /*untuk mengatur ukuran font*/
  font-size: 20px;
}